.mathlinguaTopLevel {
  overflow-y: hidden;
  overflow-x: auto;
  background-color: white;
  border: solid;
  border-width: 1px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  max-width: 75%;
  width: max-content;
  margin-left: auto; /* for centering content */
  margin-right: auto; /* for centering content */
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  border-color: rgba(230, 230, 230);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px,
    inset 0 0 0 0 rgba(240, 240, 240, 0.5);
}

.mathlinguaIconPane {
  float: right;
  border: none;
  color: #aaaaaa;
  background: #ffffff;
  padding: 0;
  font-size: 100%;
}

.mathlinguaFlipIcon {
  border: none;
  color: #aaaaaa;
  background: #ffffff;
  padding: 0;
  font-size: 110%;
}

.mathlinguaOpenIcon {
  border: none;
  color: #aaaaaa;
  background: #ffffff;
  padding-right: 1ex;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 80%;
}

.mathlinguaCloseButton {
  position: relative;
  top: 0;
  left: 0;
  border: none;
  color: #aaaaaa;
  background: #ffffff;
  padding: 0;
  font-size: 75%;
}
