.searchArea {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.search {
  border: solid;
  border-color: #cccccc;
  border-radius: 2px;
  border-width: 1px;
  height: 75%;
  width: 15em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
}

.search:focus {
  outline: none;
}

.searchDropdown {
  display: block;
  z-index: 4;
  position: absolute;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #555555;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 1px 0px;
  min-width: 10.65em;
  width: max-content;
}

.searchDropdownItem {
  padding: 1ex;
  display: block;
  text-decoration: none;
  color: black;
}

.searchDropdownItemSelected {
  padding: 1ex;
  display: block;
  text-decoration: none;
  color: black;
  background-color: #eeeeee;
}

.searchDropdownItem:hover {
  padding: 1ex;
  display: block;
  text-decoration: none;
  color: black;
  background-color: #eeeeee;
}

.searchButton {
  border: none;
  color: #333333;
  background-color: #f0f0f0;
  height: 75%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5ex;
  padding-right: 1ex;
}

.clearButton {
  border: none;
  background: none;
  color: #333333;
  background-color: #f0f0f0;
  height: 75%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1ex;
  padding-right: 1.5ex;
}
