.mathlinguaPage {
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin-top: 2.5em;
  margin-bottom: 1em;
  margin-left: auto; /* for centering content */
  margin-right: auto; /* for centering content */
  font-size: 1em;
  width: 850px;
  max-width: 100%;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: rgba(210, 210, 210);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px,
    inset 0 0 0 0 rgba(240, 240, 240, 0.5);
}

@media screen and (max-width: 500px) {
  .mathlinguaPage {
    width: 99%;
    margin-top: 3vh;
    margin-bottom: 0;
  }
}

.sideBySideView {
  width: 100%;
  height: calc(var(--inner-height) - 2.1em);
  overflow-y: scroll;
  margin-top: 1.5em;
  padding: 0;
  background-color: white;
}

.splitViewContainer {
  display: flex;
}

.splitViewEditor {
  flex: 1 1 0px;
}

.splitViewRendered {
  flex: 1 1 0px;
  max-height: 100vh;
  overflow: auto;
  border-left: solid;
  border-color: #eeeeee;
  border-width: 1px;
  padding-top: 1.5em;
}

.errorView {
  padding-left: 1.25em;
  font-size: 120%;
}

.errorItem {
  color: darkred;
}

mark {
  background-color: inherit;
  color: inherit;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #aaaaaa;
  padding: 1px;
}
