.sidePanel {
  background-color: transparent;
  border-right: solid;
  border-width: 1px;
  border-color: #cfcfcf;
  padding-top: 0;
  border-right: none;
  width: 100%;
  margin-top: 0;
  margin-left: -0.5em;
}

hr {
  border: 0.5px solid #efefef;
}
