hr {
  border: 0.5px solid #efefef;
}

h1,
h2,
h3,
h4 {
  color: #0055bb;
  text-align: center;
}

p {
  text-align: left;
  text-indent: 0;
}

.mathlingua-block-comment {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mathlingua-block-comment-top-level {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.3;
  text-align: left;
  text-indent: 0;
  background-color: #ffffff;
  max-width: 80%;
  width: 80%;
  margin-left: auto; /* for centering content */
  margin-right: auto; /* for centering content */
}

.end-mathlingua-top-level {
  padding-top: 0.5em;
  margin: 0;
}

.mathlingua-topic-group-id {
  display: block;
  padding: 0 0 1em 0;
  font-family: monospace;
  text-align: center;
  color: #5500aa;
}

.mathlingua-topic-name {
  display: block;
  padding: 0 0 0.2em 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  color: #0055bb;
}

.mathlingua-topic-content {
  display: block;
  padding: 0 0 1.2em 0;
  margin: 0.2em 0 -1.2em 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.3;
  color: #000000;
}

.mathlingua-overview {
  display: block;
  padding: 0.5em 0 0.5em 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.3;
  color: #000000;
  margin-top: -2ex;
  margin-bottom: -2ex;
}

.mathlingua-resources-header {
  display: block;
  color: #0055bb;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0),
    0px 0.4px 0px rgba(0, 0, 0, 0.2);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 0.25em;
}

.mathlingua-resources-item {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.1em 0 0.1em 0;
}

.mathlingua-topics-header {
  display: block;
  color: #0055bb;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0),
    0px 0.4px 0px rgba(0, 0, 0, 0.2);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 0.5em;
}

.mathlingua-topic-item {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.1em 0 0.1em 0;
}

.mathlingua-related-header {
  display: block;
  color: #0055bb;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0),
    0px 0.4px 0px rgba(0, 0, 0, 0.2);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 0.5em;
}

.mathlingua-related-item {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.1em 0 0.1em 0;
}

.mathlingua-foundation-header {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: normal;
  padding-bottom: 1ex;
  color: #777777;
}

.mathlingua {
  font-family: monospace;
}

.mathlingua-proof-icon {
  float: right;
  color: #aaaaaa;
  cursor: default;
}

.mathlingua-proof-shown {
  display: block;
  margin-top: -0.6ex;
}

.mathlingua-proof-hidden {
  display: none;
  margin-top: -0.6ex;
}

.mathlingua-proof-header {
  display: block;
  color: #0055bb;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0),
    0px 0.4px 0px rgba(0, 0, 0, 0.2);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mathlingua-header {
  color: #0055bb;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0),
    0px 0.4px 0px rgba(0, 0, 0, 0.2);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mathlingua-header-literal {
  color: #0055bb;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0),
    0px 0.4px 0px rgba(0, 0, 0, 0.2);
  font-family: monospace;
}

.mathlingua-whitespace {
  padding: 0;
  margin: 0;
  margin-left: 1ex;
}

.mathlingua-id {
  color: #5500aa;
  overflow-x: scroll;
}

.mathlingua-text {
  color: #000000;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: -1.6ex;
  margin-bottom: -1.6ex;
}

.mathlingua-text-no-render {
  color: #000000;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: -1.6ex;
  margin-bottom: -1.6ex;
}

.literal-mathlingua-text {
  color: #386930;
  display: inline;
  font-family: monospace;
  line-height: 1.3;
}

.literal-mathlingua-text-no-render {
  color: #386930;
  display: inline;
  font-family: monospace;
  line-height: 1.3;
}

.mathlingua-url {
  color: #0000aa;
  text-decoration: none;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mathlingua-link {
  color: #0000aa;
  text-decoration: none;
  display: inline-block;
}

.mathlingua-statement-no-render {
  color: #007377;
}

.mathlingua-statement-container {
  display: inline;
}

.literal-mathlingua-statement {
  color: #007377;
}

.mathlingua-called {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: table;
  margin-top: -1em;
  margin-left: auto;
  margin-bottom: -1ex;
  margin-right: auto;
}

.display-mode {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  display: block;
  padding-top: 2ex;
  padding-bottom: 3ex;
}

.katex {
  font-size: 1em;
}

.katex-display {
  display: contents;
}

.katex-display > .katex {
  display: contents;
}

.katex-display > .katex > .katex-html {
  display: contents;
}

.mathlingua-dropdown-menu-shown {
  position: absolute;
  display: block;
  z-index: 1;
  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-color: rgba(230, 230, 230);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px,
    inset 0 0 0 0 rgba(240, 240, 240, 0.5);
}

.mathlingua-dropdown-menu-hidden {
  display: none;
}

.mathlingua-dropdown-menu-item {
  display: block;
  padding: 1ex;
}

.mathlingua-dropdown-menu-item:hover {
  background-color: #eeeeee;
}
