.texTalkReferenceTitle {
  font-size: 3em;
  color: #0055bb;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.texTalkReferenceBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.texTalkReferenceContent {
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;
}

.texTalkReferenceName {
  font-size: 1.5em;
  color: #0055bb;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.texTalkReferenceHeader {
  font-size: 1.25em;
  color: #0055bb;
  margin-top: 1em;
  margin-bottom: -1em;
}

.texTalkReferenceMono {
  display: block;
  margin-left: 0em;
  background-color: #fcfcfc;
}
