
.latexViewButton {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: unset;
  font-family: unset;
}

.dropdownContainer {
  display: inline-block;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  background-color: var(--background-color);
  z-index: 1;
  border: solid;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: 0;
  box-shadow: var(--box-shadow);
  min-width: 100%;
  width: max-content;
}

.dropdownMenuItem {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  background: transparent;
  margin: 0;
  font-size: unset;
  font-family: unset;
  min-width: 100%;
  width: max-content;
  color: var(--text-color);
}

.dropdownMenuItem:hover {
  background-color: var(--formulation-dropdown-item-hover-color);
}

.downIcon {
  vertical-align: bottom;
  color: var(--formulation-dropdown-icon-color);
}

.showSourceWrapper {
  color: var(--source-code-formulation-color);
}
