
.line {
  margin-top: 4px;
  margin-bottom: 1ex;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border-bottom: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: var(--border-color);
}

.idSrc {
  color: var(--source-code-id-color);
  margin-left: -2px;
}
