
.selectedGroupsOuterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectedGroupsInnerWrapper {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: var(--border-color);
  box-shadow: var(--etched-box-shadow);
  min-width: 70%;
  background-color: var(--etched-background-color);
}

.selectedGroupListWrapper {
  margin-top: 25px;
}

@media screen and (max-width: 450px) {
  .selectedGroupsInnerWrapper {
    min-width: 100%;
  }
}

.closeIcon {
  float: right;
  color: var(--top-level-node-kind-menu-icon-color);
  margin-right: 15px;
  margin-top: 10px;
  font-size: 80%;
}
