
.mathlinguaTopLevelEntity {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  max-width: 70%;
  width: fit-content;
  height: max-content;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--top-level-entity-background-color, var(--background-color));
}

@media screen and (max-width: 450px) {
  .mathlinguaTopLevelEntity {
    padding: 25px;
    min-width: 50%;
    max-width: 80vw;
  }
}

.contentWrapper {
  overflow-x: visible;
  overflow-y: visible;
}

.innerContentWrapper {
  width: max-content;
}

.mathlinguaTopLevelTextBlock {
  max-width: 100%;
}

.iconWrapper {
  color: var(--top-level-node-kind-menu-icon-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.closeIcon {
  font-size: 80%;
  margin: 0;
}

.switchIcon {
  font-size: 80%;
  margin: 0;
}

.proofWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.proofTitle {
  color: var(--accent-color);
  font-weight: bold;
}

.proofContent {
  margin-bottom: 2em;
}
