
.mathlinguaTopLevelEntity {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 70%;
  width: fit-content;
  height: max-content;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background-color: white;
}

@media screen and (max-width: 450px) {
  .mathlinguaTopLevelEntity {
    padding: 15px;
    min-width: 50%;
    max-width: 80vw;
  }
}

.contentWrapper {
  overflow-x: visible;
  overflow-y: visible;
}

.innerContentWrapper {
  width: max-content;
}

.mathlinguaTopLevelTextBlock {
  color: #555555;
  max-width: 100%;
}

.iconWrapper {
  color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.closeIcon {
  font-size: 80%;
  margin: 0;
}

.switchIcon {
  font-size: 80%;
  margin: 0;
}

.proofWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.proofTitle {
  color: var(--accent-color);
  font-weight: bold;
}

.proofContent {
  margin-bottom: 2em;
}
