.editModeButton {
  position: fixed;
  right: 2.5em;
  padding: 0;
  background: none;
  border: none;
  font-size: 115%;
}

@media screen and (max-width: 500px) {
  .editModeButton {
    position: absolute;
  }
}
