.content {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}

.mathlingua {
	font-family: monospace;
}

.mathlingua-header {
	font-weight: bold;
	color: #0055bb;
}

.mathlingua-whitespace {
	padding: 0;
	margin: 0;
	margin-left: 1ex;
}

.mathlingua-id {
	font-weight: bold;
	color: #5500aa;
}

.mathlingua-text {
	color: #007700;
}

.mathlingua-text-no-render {
	color: #007700;
}

.mathlingua-statement-no-render {
	font-family: monospace;
	color: #007377;
}

.katex {
	font-size: 1em;
}

.katex-display {
	display: contents;
}

.katex-display > .katex {
	display: contents;
}

.katex-display > .katex > .katex-html {
	display: contents;
}
