
.sidebar {
  width: max-content;
  height: max-content;
}

.mainContent {
  height: max-content;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-width: 100vw;
}

@media screen and (max-width: 450px) {
  .mainContent {
    width: 100%;
  }
}

.page {
  background: var(--page-background-color, var(--background-color));
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1ex;
  z-index: -1;
}

@media screen and (max-width: 450px) {
  .page {
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
  }
}

.outerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  min-height: 2.75em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--border-color);
  box-shadow: var(--header-shadow, var(--box-shadow));
  background-color: var(--header-background-color, var(--background-color));
}

.headerIcon {
  font-size: 125%;
  color: var(--text-color);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.footer {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: var(--border-color);
  box-shadow: var(--box-shadow);
  display: none;
}

.left {
  font-size: 105%;
  width: max-content;
  flex-basis: 1;
  transition: 0.2s;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: var(--border-color);
  background-color: var(--left-background-color, var(--background-color));
}

.center {
  flex: auto;
}

.navigationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationButtonLeft {
  font-size: 125%;
  color: var(--text-color);
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.navigationButtonLeftDisabled {
  font-size: 125%;
  color: var(--border-color);
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.navigationButtonRight {
  font-size: 125%;
  color: var(--text-color);
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.navigationButtonRightDisabled {
  font-size: 125%;
  color: var(--border-color);
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
