.sidePanelButton {
  position: fixed;
  left: 0.5ex;
  border: none;
  color: #333333;
  margin-left: 0.5em;
  margin-top: 0em;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 120%;
}
