
html {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  color: var(--text-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--accent-color) !important;
  text-align: center;
  font-size: 1.5em !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--link-color);
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.katex {
  font-size: 95% !important;
  color: var(--text-color) !important;
}

.katex .texttt {
  font-family: KaTeX_Main !important;
}

div[class^="MarkdownView_markdown"] .katex-display {
  margin-top: 5px;
  margin-bottom: 5px;
}
