
.regular {
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: var(--border-color);
  background-color: var(--button-background-color, var(--background-color));
  padding: 5px;
}

.regular:hover {
  box-shadow: var(--box-shadow);
}

.flat {
  border: none;
  background-color: var(--button-background-color, var(--background-color));
  padding: 5px;
}
