
.regular {
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #e5e5e5;
  background-color: white;
  padding: 5px;
}

.regular:hover {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.regular:active {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 0px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.flat {
  border: none;
  background-color: white;
  padding: 5px;
}
