.topbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  height: 2em;
  background-color: transparent;
  height: 1.75em;
  width: 100%;
  border: none;
  padding-top: 0.5em;
  border-top: none;
}
